In [ ]:
pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.2.tar.gz (281.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 281.4/281.4 MB 4.5 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 199.7/199.7 KB 10.6 MB/s eta 0:00:00
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.2-py2.py3-none-any.whl size=281824028 sha256=4217783a2496a2e9f926889a6a2ad9c66b00a1658f79df39abe83a042649d360
  Stored in directory: /root/.cache/pip/wheels/6c/e3/9b/0525ce8a69478916513509d43693511463c6468db0de237c86
Successfully built pyspark
Installing collected packages: py4j, pyspark
  Attempting uninstall: py4j
    Found existing installation: py4j 0.10.9.7
    Uninstalling py4j-0.10.9.7:
      Successfully uninstalled py4j-0.10.9.7
Successfully installed py4j-0.10.9.5 pyspark-3.3.2

In [ ]:
from pyspark import SparkContext, SparkConf

In [ ]:
conf = SparkConf().setAppName('appName').setMaster('local[*]')
sc=SparkContext(conf=conf)

In [ ]:
#Q1
my_list=list(range(0,11))
rdd=sc.parallelize(my_list)
rdd1=rdd.map(lambda x:x*x).collect()
print(rdd1)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
import pyspark
import random

In [ ]:
#Q2
my_list1=[]
for x in range(20):
  my_list1.append(random.randint(5,200))
my_list1

[29,
 11,
 85,
 9,
 19,
 170,
 127,
 157,
 159,
 147,
 112,
 124,
 38,
 111,
 97,
 148,
 108,
 174,
 58,
 154]

In [ ]:
ml= sc.parallelize(my_list1)
ml1=ml.filter(lambda x:x%5==0)
ml1.collect()

[85, 170]

In [ ]:
#Q3
word=["I","am","Taha"]
rdd=sc.parallelize(word)
type(rdd)
rdd.collect()

['I', 'am', 'Taha']

In [ ]:
#Q4
frdd=sc.textFile("inputFile.txt")

frdd.collect()

['people are not as beautiful as they look, ',
 'as they walk or as they talk.',
 'they are only as beautiful  as they love, ',
 'as they care as they share.']

In [ ]:
type(frdd)

pyspark.rdd.RDD

In [ ]:
#Q5
frdd=sc.textFile("inputFile.txt")
frdd.getNumPartitions()

2

In [ ]:
fr=sc.textFile("inputFile.txt",minPartitions=5)
fr.getNumPartitions()

5

In [ ]:
#Q6
my_l=list(range(0,11))
rdd=sc.parallelize(my_l)
rdd3=rdd.map(lambda x:x*x*x).collect()
print(rdd3)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [ ]:
#Q7
ip=sc.textFile("inputFile.txt")
ip1=ip.filter(lambda x:"beautiful" in x)
ip1.count()

2

In [ ]:
ip1.collect()

['people are not as beautiful as they look, ',
 'they are only as beautiful  as they love, ']

In [ ]:
#Q8
lst=list("Hello World,I am under the water")
lst1=sc.parallelize(lst)
lst1.collect()

['H',
 'e',
 'l',
 'l',
 'o',
 ' ',
 'W',
 'o',
 'r',
 'l',
 'd',
 ',',
 'I',
 ' ',
 'a',
 'm',
 ' ',
 'u',
 'n',
 'd',
 'e',
 'r',
 ' ',
 't',
 'h',
 'e',
 ' ',
 'w',
 'a',
 't',
 'e',
 'r']

In [ ]:
lst2=lst1.flatMap(lambda x:x.split())
lst2.collect()

['H',
 'e',
 'l',
 'l',
 'o',
 'W',
 'o',
 'r',
 'l',
 'd',
 ',',
 'I',
 'a',
 'm',
 'u',
 'n',
 'd',
 'e',
 'r',
 't',
 'h',
 'e',
 'w',
 'a',
 't',
 'e',
 'r']

In [ ]:
#Q9
list3=[]
for x in range(1,11):
  list3.append(random.randint(5,200))
list3

[166, 89, 200, 75, 199, 193, 71, 35, 115, 123]

In [ ]:
ls1=sc.parallelize(list3)
for x in range(len(list3)):
  max=0
  ls2=ls1.filter(lambda x:x > max)
ls2.collect()

[166, 89, 200, 75, 199, 193, 71, 35, 115, 123]

In [ ]:
#Q10

str1=sc.parallelize(["I","am","Taha","Saqib"])
str2=sc.parallelize(["Taha","I"]

new=str1.intersection(str2)
for name in new.collect():
  print(name)